.popup__input-error {
    position: absolute;
    top: calc(100% + 5px);
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    color: red;
    padding: 0;
    margin: 0;
    opacity: 0;
}

@media screen and (max-width: 600px) {
    .popup__input-error {
        width: 238px;
    }
}