.profile__btn-edit {
    display: flex;
    width: 24px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    background-image: url(./../../../images/btn_edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    transition: opacity .3s ease;
}

.profile__btn-edit:hover {
    opacity: .6;
}

@media screen and (max-width: 670px) {
    .profile__btn-edit {
        width: 18px;
        height: 18px;
    }
}