.popup__section-avatar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 358px;
    margin: 0 0 48px;
}

@media screen and (max-width: 600px) {
    .popup__section {
        align-items: center;
        width: 282px;
    }
}