.header {
    display: flex;
    max-width: 880px;
    width: 100%;
    padding: 45px 0 41px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 320px) {
    .header {
        padding: 28px 0 27px;
    }
}